$heading-font: Arial;

h1,h2,h3{
  font-family:$heading-font;
}
a{
  color:red;
  text-decoration:none;
}
.contrast-link{
  color:white;
}
.rounded-border{
  border-radius:10px;
  border:1px solid;
}
.float-left{
  float:left;
}
.float-right{
  float:right;
}
.content-block{
  margin:10px;
  padding:20px;
}
.header{
  background-color:red;
  text-align:center;
}
.news-item{
  border:1px solid;
  width:75%;
  margin:10px;
  padding:20px;
}
.main-content{
  overflow:auto;
}
.footer{
  background-color:red;
}

