@import 'vars';


@mixin whitespace($padding:20px, $margin:20px) {
  padding:$padding;
  margin:$margin;
}

%headings {
  color:$bright-blue;
  font-family:$heading-font;
}

body{
  color:$dark-grey;
  background-color:$pale-grey;
  font-family:$main-body-font;
  line-height:1.8em;
  font-size:0.8em;
}

h1{
  @extend %headings;
  font-size:3.0em;
}

h2{
  @extend %headings;
  font-size:2.0em;
}

.reference{
  @include whitespace($padding:10px, $margin:40px);
  border-top:1px solid $mid-grey;
  text-align:center;
  a {
    text-decoration: none;
    color:$bright-blue;
    font-weight: bold;
  }
}

.wholepage{
  @include whitespace($padding:30px, $margin:40px);
  background-color:$off-white;
  border:1px solid $mid-grey;
}
